<%- include('../partials/header'); -%>

<ul class="recipes">

  <% for(var i=0; i < polls.length; i++) { %>
    <a href='createpolls/<%=polls[i]._id%>'>
      <li class="poll">
        <h4>POLL HERE</h4>
        <p><%= polls[i].question %></p>
      </li>
    </a>
 <% } %>

</ul>

<%- include('../partials/footer'); -%>