<%- include('../partials/header'); -%>
    <form action="/createpolls" method="POST">
        <h2>Create Poll</h2>
        <label for="text">Enter Question</label>
        <input class="hidden_box" name = "user_id" value="<%= user._id %>" />
        <input type="text" name="question" required />
        <label for="text">Enter Options</label>
        <input type="text" name="option1" class = "options" placeholder="Option 1" />
        <input type="text" name="option2" class = "options" placeholder="Option 2" />
        <input type="text" name="option3" class = "options" placeholder="Option 3" />
        <input type="text" name="option4" class = "options" placeholder="Option 4" />
        
        <button>Create</button>
    </form>


<%- include('../partials/footer'); -%>