<%- include('../partials/header'); -%>

    <form>
        <h2>Create Poll</h2>
        <label for="text">Enter Question</label>
        <input type="text" name="text" required />
        <br></br>
        <label for="text">Enter Options</label>
        <input type="text" name="text" class = "options" placeholder="Option 1" />
        <input type="text" name="text" class = "options" placeholder="Option 1" />
        <input type="text" name="text" class = "options" placeholder="Option 1" />
        <input type="text" name="text" class = "options" placeholder="Option 1" />
        
        <button>Create</button>
    </form>

    <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            //get the values
            console.log('create button clicked');
            const user_id = '<%- user._id %>' ;
            const text = form.text.value;
            try {
                const res = await fetch('/notes', {
                    method: 'POST',
                    body: JSON.stringify({ user_id,text }),
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                if (data.user) {
                    location.assign('/notes');
                }

            }
            catch (err) {
                console.log(err);
            }
        });
    </script>

<%- include('../partials/footer'); -%>