<%- include('../partials/header'); -%>

    <div class="single">

        <form action="/createpolls" method="POST">
            <h2>
                Showing of Created Poll
            </h2>
            
           
        </form>

    </div>


<%- include('../partials/footer'); -%>