<%- include('../partials/header'); -%>

    <div class="single">

        <form action="/createpolls" method="POST">
            <h2>
                Poll Creation
            </h2>
            
            <button class="btn" type="submit">Create Poll</button>
        </form>

    </div>


<%- include('../partials/footer'); -%>