<%- include('../partials/header'); -%>

    <div class="single">

        <h2>
            Your Poll is Created.
        </h2>
        <h3>
            <%- poll._id %>
        </h3>

    </div>


<%- include('../partials/footer'); -%>