<%- include('../partials/header'); -%>

    <div class="single">

        <form action="/castvote/<%= poll.Id %>" method="POST">
            <h2>
                Voting a Poll
            </h2>
            <button class="btn" type="submit">Cast Vote</button>
        </form>

    </div>


<%- include('../partials/footer'); -%>