<%- include('../partials/header'); -%>

    <div class="single">

        <form action="/castvote/" method="PUT">
            <h2>
                Voting a Poll
            </h2>
            <h3>Question goes here</h3>
            <!-- <br></br> -->
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="optn" id = "option" >
                <!-- <div class="radio_option"></div> -->
                Option 1 goes here
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="optn" id = "option" >
                <!-- <div class="radio_option"></div> -->
                Option 2 goes here
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="optn" id = "option" >
                <!-- <div class="radio_option"></div> -->
                Option 3 goes here
            </label>
            <label for="option" class = "radio">
                <input type="radio" class = "radio_option" name="optn" id = "option" >
                <!-- <div class="radio_option"></div> -->
                Option 4 goes here
            </label>
            <button class="btn" type="submit">Cast Vote</button>
        </form>
        

    </div>


<%- include('../partials/footer'); -%>